/* Main */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #000000;
    color: #ffffff;
}

#header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}

nav ul li a:hover {
    color: #F92C06;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #F92C06;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #363333;
}

/* Needs reformatting */
#headshot {
    float: right;
    height: 30%;
    width: 30%;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}
/* Needs reformatting */

/* About*/

#about {
    color: #ABABAB;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.subtitle {
    font-size: 60px;
    font-weight: 600;
    color: #F92C06;
}

/* Projects */

#projects {
    color: #ABABAB;
}

.projects-col-2 {
    flex-basis: 95%;
}

/* Contact */

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #FFFFFF;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ABABAB;
    display: inline-block;
}

.social-icons a:hover {
    color: #F92C06;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #F92C06;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #FFFFFF;
}

.btn {
    display: inline-block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #F92C06;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #FFFFFF;
}

.btn2 {
    background: #000000;
}

.btn:hover {
    background: #F92C06;
}

/* .contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #363333;
    padding: 15px;
    margin: 15px 0;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 6px;
    resize: none;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
} */